.git
.dockerignore
README-FIRST
docker-compose.prod.yml.example
docker-compose.yml.example
docker-compose.yml
docker-compose.prod.yml
noter

README*
log/*

#Gemfile.lock

Dockerfile
LICENCE
host_volumes
host_volumes/*
