
/ProjectAlice/*
!/ProjectAlice/alice-not-installed

/config/snips.toml
!/config/snips.toml.example

/config/etc/*
!/config/etc/mosquitto
!/config/etc/supervisor

/config/snips.conf
/config/snips.conf-fra-P60
/config/supervisord.conf

/log/*.log
/log/mosquitto/*
!/log/mosquitto/.keep
/log/supervisor/*
!/log/supervisor/.keep

#/start-scripts
/transport/*
!/transport/.keep

