
/misc/*
!/misc/.gitignore
!/misc/config.py.example

/ProjectAlice


/config/etc/*
!/config/etc/mosquitto
!/config/etc/supervisor
!/config/snips.toml.example
/config/snips.toml
/config/supervisord.conf

/config/snips.conf-fra-P60

/log/*.log
/log/mosquitto/*
!/log/mosquitto/.keep
/log/supervisor/*
!/log/supervisor/.keep

#/start-scripts
/transport/*
!/transport/.keep

