{
    "activeCountryCode": "US",
    "activeLanguage": "en",
    "adminPinCode": 9999,
    "advancedDebug": false,
    "aliceAutoUpdate": false,
    "aliceUpdateChannel": "master",
    "asoundConfig": "",
    "asr": "google",
    "asrFallback": "snips",
    "asrTimeout": 10,
    "autoPruneStoredData": 1000,
    "autoReportSkillErrors": false,
    "awsAccessKey": "YOUR AWSACCESSKEY",
    "awsRegion": "eu-central-1",
    "awsSecretKey": "YOUR AWSSECRETKEY",
    "baseCurrency": "USD",
    "baseUnits": "metric",
    "debug": true,
    "delegateNluTraining": false,
    "devMode": true,
    "deviceName": "default",
    "disableSoundAndMic": true,
    "displaySystemUsage": false,
    "enableDataStoring": true,
    "githubToken": "YOUR GITHUBTOKEN",
    "githubUsername": "YOUR GITHUBUSERNAME",
    "ibmCloudAPIKey": "",
    "ibmCloudAPIURL": "",
    "inputDevice": "default",
    "internetQuality": 10,
    "keepASROffline": false,
    "keepTTSOffline": false,
    "mqttHost": "YOUR MOSQUITTO IP",
    "mqttPassword": "",
    "mqttPort": 1883,
    "mqttTLSFile": "",
    "mqttUser": "",
    "newDeviceBroadcastPort": 12354,
    "nluEngine": "snips",
    "nonNativeSupportCountry": "",
    "nonNativeSupportLanguage": "",
    "notUnderstoodRetries": 3,
    "onReboot": "",
    "outputDevice": "default",
    "probabilityThreshold": 0.343,
    "recordAudioAfterWakeword": false,
    "sessionTimeout": 10,
    "shortReplies": false,
    "skillAutoUpdate": false,
    "skillsUpdateChannel": "master",
    "ssid": "YOUR SSID",
    "stayCompletlyOffline": false,
    "supportedLanguages": {
        "en": {
            "default": true,
            "defaultCountryCode": "US",
            "countryCodes": [
                "US",
                "GB",
                "AU"
            ]
        },
        "fr": {
            "default": false,
            "defaultCountryCode": "FR",
            "countryCodes": [
                "FR"
            ]
        },
        "de": {
            "default": false,
            "defaultCountryCode": "DE",
            "countryCodes": [
                "DE"
            ]
        },
        "it": {
            "default": false,
            "defaultCountryCode": "IT",
            "countryCodes": [
                "IT"
            ]
        }
    },
    "timezone": "Europe/Copenhagen",
    "tts": "amazon",
    "ttsFallback": "pico",
    "ttsLanguage": "en-US",
    "ttsType": "female",
    "ttsVoice": "Joanna",
    "useHLC": false,
    "uuid": "ba67e62d-cda6-4770-9cae-14a59c7d1031",
    "wakewordEngine": "snips",
    "wakewordSensitivity": 0.5,
    "webInterfaceActive": true,
    "webInterfacePort": 5000,
    "whisperWhenSleeping": true,
    "wifipassword": ""
}
