[snips-common]
##mqtt = "YOUR DOCKER HOST IP:1883"
assistant = "/home/pi/ProjectAlice/assistant"

## MQTT authentication
#mqtt_username = ""
#mqtt_password = ""

## MQTT TLS configuration
#mqtt_tls_hostname = ""
#mqtt_tls_disable_root_store = false
#mqtt_tls_cafile = ""
#mqtt_tls_capath = ""
#mqtt_tls_client_cert = ""
#mqtt_tls_client_key = ""

[snips-analytics]

[snips-asr]
model = "/usr/share/snips/snips-asr-model-en-500MB"

[snips-asr-google]

[snips-audio-server]
bind = "default@mqtt"

[snips-dialogue]

[snips-hotword]
model = ["/home/pi/ProjectAlice/trained/hotwords/snips_hotword/hey_snips=0.5"]

[snips-injection]

[snips-nlu]

[snips-tts]






